@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$A: #175119;
$B: #217424;
$ten: #223574;
$thirty: #174f51;
$sixty: #dde1e7;

// Fonts
$fontfamily: "Poppins", sans-serif;
$secondfamily: "indie flower", sans-serif;

// Colors
$background: #d9d9d9;
